#content {
    font-family: 'Nunito', sans-serif;
    margin-top: 0;
    margin-right: 20px;
    height: 100%;
    margin-left: 25%;
    width: 50%;
}
#leftSidebar {
    font-family: 'Nunito', sans-serif;
    border-right-color: #bebebe;
    border-right-style: solid;
    border-right-width: 2px;
    margin-top: 0;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    width: 22%;
    position: absolute;
    height: fit-content;
    text-align: center;
}
#rightSidebar {
    font-family: 'Nunito', sans-serif;
    float: right;
    border-left-color: #bebebe;
    border-left-style: solid;
    border-left-width: 2px;
    margin-top: 0;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 22%;
    position: relative;
    height: fit-content;
    text-align: center;
}
#rightSidebar h3, #leftSidebar h3{
    font-family: 'Signika', sans-serif;
}

.postContainer{
    border: 2px solid gray;
    border-radius: 5px;
    width: auto;
    padding: 5px;
    background-color: rgb(222, 240, 255);
    margin-bottom: 3%;
}
#toggle{
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.userPosts{
    border: 2px solid gray;
    border-radius: 5px;
    width: auto;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.85);
    margin-bottom: 3%;
}
.postType{
    text-align: center;
    margin: 0;
    padding: 0;
}
.hrPost{
    margin-top: 0;
}
.meetup{
    //background-color: rgba(255, 4, 0, 0.15);
}
.editPost{
    float: right;
    display: inline-block;
    margin: 0;
    background-color: indianred;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.editPost a{
    color: white;
}
.username{
    display: inline-block;
    margin: 1% 1%;
}
button.btn{
    background-color:transparent;
    font-size: 20px;
    color: black;
    display: inline;
    cursor: pointer;
    width: auto;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
}
button.btn:hover{
    opacity: 0.7;
}
button.postBtn{
    margin-left: 20%;
    background-color: #4267b2;
    color: white;
    outline: none;
}
button.meetupBtn{
    float: right;
    margin-right: 20%;
    background-color: transparent;
    outline: none;
}

textarea, input{
    background-color:transparent;
    color: black;
    width: 95%;
    display: block;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    outline: none;
    font-size: 20px;
    resize: none;
    height: auto;
}
.postTitle{
    font-weight: bold;
    display: inline-block;
    width: fit-content;
    margin: 0;
    margin-left: 3px;
    text-decoration: underline;
    float: left;
    margin-bottom: 10px;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder  {
    text-decoration: underline;
    color: black !important;
}
.meetupDate{
    font-size: small;
    display: inline-block;
    float: right;
    margin-bottom: 0;
    margin-top: 7px;
    width: auto;
}
.datePosted{
    margin-bottom: 0;
    margin-top: 0;
}
.startDate{
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 5px;
    text-decoration: underline;
}
#makeMeetupContainer {
    display:none;
}
#meetupContent{
    height: auto !important;
}
.textareaContent{
    background-color: rgba(215, 215, 216, 0.33);
    border-radius: 12px;
    padding: 7px;
}
.dateLabel{
    float:right;
    padding-top: 2px;
    text-decoration: underline;
}
.meetupLabel{
    font-size: 15px;
    background-color: #cd5c5c;
    color: white;
    padding: 5px 5px;
    cursor: auto;
    width: fit-content;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 12px;
    border-color: black;
    border-width: 1.4px;
    border-style: solid;
}
.memberNames{
    font-size: 15px;
    background-color: rgba(247, 247, 247, 0.85);
    color: #2f2f2f;
    padding: 1px;
    cursor: auto;
    width: auto;
    font-weight: bold;
    margin-bottom: 5%;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 12px;
    border-color: black;
    border-width: 1.4px;
    border-style: solid;
}
.postLabel{
    background-color: rgb(222, 240, 255) !important;
    color: #2f2f2f;
}
button.postButton{
    font-size: 15px;
    background-color: #4267b2;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    width: 25%;
    border-radius: 12px;
    display:      block;
    margin-left:  auto;
    margin-right: 0;
}
button:hover{
    opacity: 0.7;
}
form{
    margin-bottom: 0;
}

a{
    cursor: pointer;

}